body,
html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #444;
  @include montserrat-500;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
}

.main{
  flex-grow: 1;
}

.title{
  @include keepon;
  font-size: 40px;
  padding: 30px 65px 25px;
  border-radius: 60px;
  background-color: transparent;
  margin-bottom: 90px;
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.25);
}

.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}