@media (max-width: 1600px) {
  .typing {
    width: 295px;
  }
}

@media (max-width: 1400px) {
  .contact {
    &:after {
      left: 3%;
    }
  }
  .typing {
    width: 265px;
  }
}

@media (max-width: 1200px) {
  .projects {
    &__list {
      margin-bottom: 20px;
    }
  }
  .contact {
    &:after {
      left: 0%;
    }
  }
  .typing {
    width: 235px;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 45px 0 75px;
  }

  .layers {
    .layer-3 {
      transform: translateZ(60px) translateY(-7%) scale(0.85);
    }
    .layer-4 {
      transform: translateZ(100px) translateY(-7%) scale(1);
    }
  }

  .typing {
    width: 215px;
  }

  .hero-content {
    margin-top: calc(var(--index) * 20);
  }

  .about {
    &__item {
      max-width: 100%;
      margin-bottom: 35px;
    }
    &__item-top {
      max-width: 85%;
    }
    &__item-description {
      margin-left: 25px;
    }
    &__stack-inner {
      justify-content: space-evenly;
    }
  }

  .projects {
    &__list {
      justify-content: center;
    }
  }

  .howto {
    &__subtitle {
      font-size: 26px;
    }
    &__span p {
      font-size: 30px;
    }
  }
}

@media (max-width: 996px) {
  .howto {
    &__list {
      grid-template-columns: 50% 50%;
      grid-auto-flow: row;
    }
    &__item {
      &:last-child {
        grid-column: 1/3;
        order: 5;
      }
    }
  }
}

@media (max-width: 880px) {
  .typing {
    width: 200px;
  }
  .layers {
    .layer-4 {
      transform: translateZ(100px) translateY(-7%) scale(0.9);
    }
  }
}

@media (max-width: 768px) {
  body.lock {
    height: 100vh;
    overflow: hidden;
  }

  .header {
    &__top.active {
      height: 10vh;
      background-color: #444;
      transition-delay: 0s;
      div .menu {
        transform: translatey(55%);
        transition: transform 0.4s ease-out;
      }
    }
    .menu {
      position: absolute;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      transform: translatey(-500%);
      background-color: #444;
      padding-left: 15px;
      margin-left: -15px;
      transition: transform 0.4s ease-in;
    }
    .menu__item {
      font-size: 35px;
      line-height: 1.4;
      padding: 20px 0;
    }
    &__burger {
      display: flex;
      align-items: center;
      width: 25px;
      height: 25px;
      span {
        position: relative;
        width: 25px;
        height: 2px;
        background-color: #fff;
        transition: transform 0.4s;
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 25px;
          height: 2px;
          background-color: #fff;
        }
        &:before {
          top: -9px;
        }
        &:after {
          top: 9px;
        }
      }
    }
    &__burger.active {
      span {
        height: 0;
        &:before,
        &:after {
          top: 0;
          transition: transform 0.4s;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .about {
    padding: 80px 0;
    &__wrapper {
      margin-bottom: 80px;
    }
    &__stack-item {
      max-width: 335px;
    }
    &__stack-experience {
      padding: 10px;
    }
  }

  .contact {
    &__inner {
      padding: 15px 0;
    }
    &__form {
      padding: 25px;
    }
    &__email {
      margin-left: 0;
    }
    &__box {
      padding-left: 0;
    }
    &:after {
      background: none;
    }
  }
}

@media (max-width: 576px) {
  .typing {
    width: 170px;
  }
  .btn {
    font-size: calc(var(--index) * 1.5);
  }
  .hero-content {
    font-size: calc(var(--index) * 1.35);
  }
  .about {
    padding: 80px 0 60px;
    &__wrapper {
      margin-bottom: 60px;
    }
    &__item-top {
      max-width: 75%;
    }
  }

  .howto {
    &__list {
      grid-template-columns: 100%;
    }
    &__item {
      &:last-child {
        grid-column: auto;
      }
    }
  }

  .contact {
    &__inner {
      flex-direction: column;
      background: url(../img/icons/contact-media.svg) 0 / contain no-repeat;
    }
    &__socials {
      padding: 25px;
    }
    &__subtitle {
      font-size: 18px;
      line-height: 22px;
      color: #2596ff;
      border: none;
      margin-bottom: 15px;
      max-width: 60%;
    }
  }
}

@media (max-width: 428px) {
  h1 {
    max-width: 90%;
    margin: 0 auto;
  }
  .title {
    margin-bottom: 25px;
    &::before {
      background: url(../img/title-up.png) 0% 10% / contain no-repeat;
      height: 30px;
    }
  }

  .btn {
    padding: calc(var(--index) * 1) calc(var(--index) * 2);
  }

  .hero-content {
    margin-top: calc(var(--index) * 28);
    &__text {
      font-size: calc(var(--index) * 0.9);
    }
  }

  .about,
  .howto,
  .projects {
    background: url(../img/title-down.png) 100% 100% / contain no-repeat;
  }

  .about {
    padding: 40px 0 20px;
    &__wrapper {
      margin-bottom: 40px;
    }
    &__item-top {
      max-width: 65%;
    }
  }
  .projects {
    &__description {
      padding: 10px;
      font-size: 18px;
    }
    &__list{
      margin-bottom: 0;
    }
  }

  .howto {
    &__subtitle {
      font-size: 24px;
    }
    &__span p {
      font-size: 24px;
    }
  }

  .contact {
    padding: 40px 0;
    &__title {
      margin-bottom: 40px;
    }
    &__email {
      font-size: 16px;
    }
    &__form {
      width: 75%;
      margin: 0% 0 0 1%;
      input,
      textarea {
        font-size: 16px;
        &::placeholder {
          font-size: 16px;
        }
      }
    }
    &__subtitle {
      max-width: 80%;
    }
  }
}

@media (max-width: 380px) {
  .typing{
    width: 140px;
  }
  .title {
    font-size: 24px;
  }
  body {
    font-size: 18px;
  }
  .about {
    &__item-top {
      max-width: 55%;
      margin-bottom: 10px;
    }
    &__item-link,
    &__stack-experience {
      font-size: 16px;
      padding: 10px 15px;
    }
    &__item-title,
    &__stack-technology {
      font-size: 24px;
    }
    &__item-description {
      font-size: 20px;
    }
  }

  .projects {
    &__list {
      margin-bottom: 25px;
    }
  }

  .contact {
    &__title {
      max-width: 200px;
      font-size: 24px;
    }
  }
}

@media (max-width: 340px) {
  // .typing {
  //   width: 155px;
  // }

  .about {
    .about__item-link,
    .about__stack-experience {
      font-size: 14px;
      padding: 15px 10px;
    }
    &__item-description {
      font-size: 18px;
      margin-left: 0;
    }
  }

  .projects {
    &__description {
      top: 20%;
      max-width: 85%;
      left: 7%;
    }
  }

  .contact {
    &__subtitle {
      font-size: 18px;
      line-height: 1;
    }
    &__socials,
    &__form {
      padding: 15px;
    }
    &__form {
      margin: 0% 0 0 8%;
    }
    &__box svg{
      transform: scale(.8);
    }
  }
}

@media (max-height: 768px) and (orientation: landscape) {
  .header {
    &__top {
      overflow: auto;
    }
  }
  // .contact{
  //   &__form{
  //     margin: 5% 0 0 5%;
  //   }
  // }
}

@media (max-height: 468px) and (orientation: landscape) {
  .typing{
    width: 120px;
  }

  .btn{
    font-size: calc(var(--index)*1.6);
  }

  .layer-3{
    transform: translateZ(20px) translateY(-15%) scale(0.85);
  }
  .layer-4{
    transform: translateZ(60px) translateY(-15%) scale(0.85);
  }

  .hero-content{
    margin-top: calc(var(--index)*15);
  }

  .header__logo img {
    max-width: 80%;
  }

  .about {
    &__item-top {
      max-width: 76%;
    }
  }

  .contact {
    padding: 20px 0 40px;
    
    &__socials {
      padding: 25px;
    }
    &__email {
      margin-left: 0;
    }
    &__box {
      padding-left: 0;
    }
  }
}

@media (max-height: 340px) and (orientation: landscape) {
  .title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .about {
    padding: 60px 0 40px;
    &__title {
      max-width: 260px;
    }
    &__item-top {
      max-width: 65%;
    }
    &__item-description {
      font-size: 16px;
    }
    &__item-link,
    &__stack-experience {
      font-size: 14px;
      padding: 10px;
    }
    &__wrapper {
      margin-bottom: 20px;
    }
  }
  .projects {
    padding: 40px 0 20px;
    &__list {
      margin-bottom: 20px;
    }
  }

  .contact {
    &__title {
      max-width: 170px;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
}
