@mixin comfortaa-400{
  font-family: "Comfortaa-Regular", cursive;
  font-weight: 400;
}
@mixin comfortaa-500{
  font-family: "Comfortaa-Medium", cursive;
  font-weight: 500;
}
@mixin comfortaa-700{
  font-family: "Comfortaa-Bold", cursive;
  font-weight: 700;
}
